<div class="row">
  <div class="col-11 push-center">

    <%= form_for @article, :html => {:class => 'form'} do |f| %>
      <div class="form-item">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "big" %>
      </div>
      <div class="form-item">
      <%= f.label :content, "Content <span class='desc'>#Feel _free_ **to** `use` [Markdown](https://daringfireball.net/projects/markdown/syntax)</span>".html_safe %>
        <%= f.text_area :content, :rows => 16 %>
      </div>
      <div class="row between">
        <div class="col">
          <%= link_to "<i class='material-icons md-18'>arrow_back</i>".html_safe, articles_path, :class => "button secondary outline", :role => "button", :style => "padding: 6.5px 8px" %>
        </div>
        <div class="col push-right">
          <%= f.submit "Validate", :class => "button secondary push-right", :role => "button" %>
        </div>
      </div>
    <% end %>

  </div>
</div>

