<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amiri:400,700" rel="stylesheet">
  </head>

  <body>
    <header class="header row between align-middle">
      <div class="col">
        <h1 class="end"><%= link_to 'Wikinimous', '/articles/' %></h1>
      </div>
      <div class="col pull-right">
        <%= link_to 'New article', new_article_path, :class => 'button small secondary outline' %>
      </div>
    </header>

    <main class="container">
      <%= yield %>
    </main>

  </body>
</html>
